<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The National Intelligence Service of Kenya | FAQs</title>
        <meta name="description" content="The National Intelligence Service (NIS) is the Kenya's foremost intelligence agency that nurtures security and safeguard our nation's interests.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="type/x-icon" href="/images/nis_fav.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8385057ce5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/styles/viewsStyles.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="container-fluid about-top">
            <div class="container">
                <div class="row text-center top-row">
                    <div class="col-sm-12">
                                              
                        <h1 class="fs-1 page-head h-2">CAREERS</h1>

                    </div>                    
                </div>             
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row text-center align-items-center text-center">
                    <div class="col-lg-6">
                                              
                        <h1 class="fs-1 page-head h-2">JOIN OUR TEAM</h1>
                        <p class="fs-5">If you are passionate about serving the nation and believe you have the skills and enthusiasm to contribute to our team, 
                            we would love to hear from you.</p>
                            <form action="https://www.npsc.go.ke/vacancies/" class=" ">
                                <button type="submit" class="btn btn-outline-warning btn-lg site-btn">
                                Join NIS <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </form>

                    </div>  
                    <div class="col-lg-6">
                        <img src="/images/swat.png" alt="A picture of special operatives" class="img-fluid"/>

                    </div>                  
                </div>             
            </div>
        </div>













     <%- include('partials/footer') %>
        
        <script src="" async defer></script>
    </body>
</html>