<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The National Intelligence Service of Kenya | About Us</title>
        <meta name="description" content="The National Intelligence Service (NIS) is the Kenya's foremost intelligence agency that nurtures security and safeguard our nation's interests.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="type/x-icon" href="../images/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8385057ce5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/styles/viewsStyles.css">
    </head>
    <body>
        <%- include('partials/header') %>

        <div class="container-fluid about-top">
            
            <div class="container">
                <div class="row text-center top-row">
                    <div class="col-sm-12">
                                              
                        <h1 class="fs-1 page-head h-2">ABOUT US</h1>

                    </div>
                    <div class="row text-center">
                        <div>
                            <h1 class="fs-1 h2"> National Intelligence Service</h1>
                            <p class="fs-4 page-desc">National Intelligence Service (Kenya) (NIS; Swahili: Huduma ya Ujasusi ya Kitaifa) 
                                which was previously known as the National Security Intelligence Service (NSIS)
                                 is both the (national) domestic and foreign intelligence agency of Kenya. 
                                 </p>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row text-center align-items-center">
                    <h1 class="fs-1 h2">History</h1>

                </div>
                    
                    <div class="row text-center align-items-center row-his">
                        <div class="col-lg-7">
                          <h2 class="fs-2">Pre - 1998</h2>
                            
                                 <p class="fs-5">NIS had its origins in "Special Branch" a department of the national police that was created in 1952 under the British administration.
                                  Among other things it provided intelligence during the Mau Mau rebellion. James Kanyotu (1936-2008) was Kenya's longest serving spy chief. 
                                  He headed the Directorate of Security Intelligence (‘Special Branch’), for 27 years, from 1965 until his retirement in 1991. </p>
                        </div>
                        <div class="col-lg-5">
                            <img src="/images/kanyotu.png" alt="A picture of Kanyotu; the first spy chief"/>

                        </div>
                    </div>
                    <hr>
                    <div class="row text-center align-items-center row-his">
                        <div class="col-lg-5">
                            <img src="/images/wilson.png" alt="A picture of Wilson; the second spy chief"/>


                        </div>
                        <div class="col-lg-7">
                            <h2 class="fs-2">1998 - 2006</h2>
                            <p class="fs-5"> In 1998, a new act of Parliament in Kenya established the National Security Intelligence Service (NSIS)
                                 to replace the former Directorate of Security Intelligence which at the time was still colloquially known as "Special Branch". 
                                 The first director general (DG)[8] of the new service was retired Brigadier Wilson A.C. Boinett who served until 2006</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center align-items-center row-his">
                        <div class="col-lg-7">
                            <h2 class="fs-2">2006 - 2014</h2>
                            <p class="fs-5">Retired Brigadier Wilson A.C. Boinett was replaced with Major-General Michael Gichangi. 
                                In January 2011 Major Gichangi was appointed to a second five-year term. 
                                However, Gichangi did not complete his term and resigned his position in August 2014 due personal reasons.</p>
                        </div>
                        <div class="col-lg-5">
                            <img src="/images/gichangi.png" alt="A picture of Gichangi; the first spy chief"/>

                        </div>
                    </div>
                    <hr>
                    <div class="row text-center align-items-center row-his">
                        <div class="col-lg-5">
                            <img src="/images/kameru.png" alt="A picture of Kameru; the second spy chief"/>
                        
                        </div>
                        <div class="col-lg-7">
                                <h2 class="fs-2">2014 - 2023</h2>
                            <p class="fs-5">Major-General Michael Gichangi was succeeded by Major-General Philip Kameru then serving as the head of military intelligence, 
                                was appointed in September after vetting by the National Assembly.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center align-items-center row-his">
                        <div class="col-lg-7">
                                <h2 class="fs-2">2023 - To Date</h2>
                            <p class="fs-5">President William Ruto has nominated Noordin Haji as the next Director General of the National Intelligence Service. 
                                Mr Haji succeeds Philip Kameru who is due for retirement and has been at the helm of the intelligence agency since September 2014.</p>
                        </div>
                        <div class="col-lg-5">
                            <img src="/images/haji.png" alt="A picture of Haji; the second spy chief"/>

                        </div>
                    </div>

                

            </div>

        </div>
        
        <div class="container-fluid">
            <div class="container">
                <hr>
                <div class="row row-cols-1 row-cols-lg-3 g-4 text-center">
                    <div class="col">
                      <div class="card">
                        <img src="/images/mandate.png" class="card-img-top card-image" alt="Mandate Icon">
                        <div class="card-body">
                          <h5 class="card-title h-5">Mandate</h5>
                          <p class="card-text fs-5">The Service is responsible for security intelligence and counter intelligence to enhance national security in accordance with the Constitution.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="/images/vision.png" class="card-img-top card-image" alt="Vision Icon">
                        <div class="card-body">
                          <h5 class="card-title h-5">Mission</h5>
                          <p class="card-text fs-5">To be a professional security intelligence service comparable to none that shall ensure a prosperous and secure Kenya.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="/images/mission.png" class="card-img-top card-image" alt="Mission Icon">
                        <div class="card-body">
                          <h5 class="card-title h-5">Mission</h5>
                          <p class="card-text fs-5">To safeguard the Republic of Kenya against any threats emanating from within and without.</p>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <hr>
                <div class="row text-center">
                    <p class="fs-3 h2">Want to Learn More?</p>
                      <form action="/contact" class=" ">
                        <button type="submit" class="btn btn-outline-warning btn-lg site-btn">
                        Contact Us <i class="fa-solid fa-arrow-right"></i>
                        </button>
                        </form>
                </div>
            </div>

        </div>

    </div>





        <%- include('partials/footer') %>
    
        
        <script src="" async defer></script>
    </body>
</html>